.properties-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.properties-container .center-next-button{
    display: block;
    margin: 10px auto;
}

.properties-container .label-dropdown{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.properties-container .label-dropdown > *{
    display:inline-block;
}

.properties-container .label-dropdown label{
    min-width: 160px;
    text-align: right;
    padding-right: 10px;
}

.properties-container .label-dropdown .dropdown-toggle{
    width: 206px;
    height: 28px;
    line-height: 15px;
}

.properties-container .label-dropdown .dropdown-toggle .caret{
    float: right;
    position: absolute;
    top: 12px;
    right: 5px;
}

.properties-container .label-dropdown .dropdown-menu .entry{
    padding-left: 5px;
    cursor: pointer;
    width: 185px;
}

.properties-container .label-dropdown .children-select .dropdown-menu{
    overflow: auto !important;
    width: 206px;
}

.properties-container .label-dropdown .open>.dropdown-menu{
    width: 206px;
}
