.album-view{
    width: 437px;
    height: 302px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid black;
}

.album-view .fit-self{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.album-view .fit-self.blank{
    height: 78px;
    width: 100px;
}

.album-view .image-wrapper{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-view .image-container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-right: -50%;
}

.album-view .image-container:hover{
    cursor: pointer;
}

.album-view .change-photo{
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}

.album-view.pdfMode{
    height: auto;
    width: auto;
}

.album-view.pdfMode .theme-album{
    display: block !important;
    position: relative;
    border: none;
}

.album-view .theme-album {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.album-view.pdfMode .image-container .image{
    border: solid 15px #ebebeb !important;
}

.album-view.pdfMode .theme-album{       /*important*/
    width: auto;
    height: auto;
}

.album-view.pdfMode .images-wrapper{
    position: relative;
    page-break-after: always;
    height: 1000px;
}

.album-view.pdfMode .theme-album:last-child .images-wrapper:nth-child(2){
    page-break-after: avoid;
}

.album-view .theme-bg-image{
    position: absolute;
    top: 0;
    left: 0;
}

.album-view-container .arrow {
    transition: all 0.2s linear 0s;
    opacity: 0.2;
    cursor: pointer;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    color: black;
    font-size: 50px;
    border: none;
}

.album-view-container a.arrow:hover,
.album-view-container a.arrow:visited,
.album-view-container a.arrow:focus{
    text-decoration: none;
    outline: none;
    color: black;
}

.album-view-container a.arrow:hover:not([disabled]){
    opacity:1;
}

.album-view-container a.arrow:hover[disabled]{
    cursor: default;
}

.album-view-container .arrow.prev {
    left: 20px;
}
.album-view-container .arrow.next {
    right: 20px;
}

.album-view-container .nav {
    padding: 1em 0 0.8em;
}
.album-view-container .nav li {
    border: 2px solid #ebebeb;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.album-view-container .nav li.active {
    border: 2px solid black;
}
.album-view-container .nav li img {
    width: 100%;
}

.album-view-container .slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.album-view-container .slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.album-view-container .slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.album-view-container .slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.album-view-container .slide, .album-view-container .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}