.child-themes{
    height: 639px;
    overflow: auto;
    margin-bottom: 10px
}

.child-themes .thumbs-list{
    height: auto;
}

.child-photos .upload-btn.open>.dropdown-menu{
    width: 160px;
}