.css-editor{
    display: flex;
}

.css-editor .filter-wrapper{
    display: table-row;
}

.filter-elements-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-elements{
    height: 300px;
    display: table;
}

.filter-element{
    display: table;
}

.filter-element>*{
    display: table-cell;
}

.filter-element>input{
    width: 206px;
}

.filter-element .filter-label{
    width: 90px;
    padding-right: 10px;
    text-align: right;
}

.filter-element .filter-value{
    width: 35px;
    padding-left: 10px;
}