/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

.upload-dialog .queue-length{
    margin-bottom: 5px;
}

.upload-dialog .upload-table-body{
    display: block;
    overflow: auto;
    max-height: 200px;
}

.upload-table-head{
    display: block;
}

.upload-dialog td:nth-child(1), .upload-dialog th:nth-child(1){
    width: 209px;
}

.upload-dialog td:nth-child(2), .upload-dialog th:nth-child(2){
    width: 71px;
}

.upload-dialog td:nth-child(3), .upload-dialog th:nth-child(3){
    width: 77px;
}

.upload-dialog td:nth-child(4), .upload-dialog th:nth-child(4){
    width: 61px;
}

.upload-dialog td:nth-child(5), .upload-dialog th:nth-child(5){
    width: 208px;
}

.upload-dialog .choose-files-btn{
    float: right;
}
