.gallery-dialog{
    max-height: 360px;
    overflow: auto;
}

.gallery-dialog .add-child-container{
    border: 1px solid black;
    margin: 5px 0;
}

.gallery-dialog .add-child-container .label-input.name{
    margin: 5px;
}

.gallery-dialog .add-child-container .parent{
    margin: 5px;
}

.gallery-dialog .add-child-container .parent .label-input{
    width: 33.33%;
    display: inline;
    margin-right: 5px;
}