#nav .login-status{
    margin-left: 5px;
    font-size: 10px;
    float: right;
    width: 74px;
}

#nav .login-status > *{
    padding: 9px 0 0 0;
}

#nav > ul.login-status > li > a {
    display: inline-block;
}

#nav > ul.login-status > li a:hover,
#nav > ul.login-status > li.logged-in:hover,
.create-albums-app #nav > ul.login-status li.logged-in.open>.dropdown-menu .entry:hover{
    color: #ed786a;
    background-color: white;
}

#nav > ul.login-status > li a:hover{
    text-decoration: underline;
}

#nav > ul.login-status > li.open > ul{
    display: block;
}

#nav > ul.login-status > li.logged-in {
    position: relative;
}

#nav > ul.login-status .caret {
    cursor: pointer;
}

#nav > ul.login-status .dropdown-menu {
    min-width: 90px;
    right: 0;
    left: auto;
}

#nav > ul.login-status .dropdown-menu li.entry:last-child a{
    border-bottom: none;
    padding: 0 20px;
}

.desktop #header .home{
    height: 430px;
}
