.selectChild {
    position: relative;
    width: 240px;
    margin: 0 auto;
}

.specificChildSelect {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 20px;
    margin-right: 15px;
    margin-top: 1px;
    z-index: 100;
}

.selectChildInput {
    width: 200px;
    border:1px solid #000;
    padding-left: 10px;
}

.listOfChildren {
    width: 240px;
    margin: 0 auto;
}

.frameOfList {
    width: 200px;
    height: 119px;
    overflow-y: scroll;
    border: 1px solid #000;
    padding: 0;
    margin-left: 20px;
}

.frameOfList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.frameOfList li:last-child {
    border: none;
}

.childrenList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.checkedChildren {
    height: 151px;
    width: 170px;
    border: 1px solid #000;
    overflow-y: scroll;
}

.checkedChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ccc;
}

.fa-trash:hover {
    color: #ff0000;
    cursor: pointer;
}

.fa-check-circle:hover {
    color: #ffe7ba;
    cursor: pointer;
}

.fa-plus-circle:hover {
    color: #008000;
    cursor: pointer;
}
