.labelInput-elements .labelInput-element{
    display: table-row;
}

.labelInput-element{
    display: table;
}

.labelInput-elements{
    display: table;
    border-spacing: 5px;
}

.labelInput-element>*{
    display: table-cell;
}

.labelInput-element .labelInput-input{
    width: 206px;
    padding: 0 10px;
}

.labelInput-element .labelInput-label{
    width: 160px;
    padding-right: 10px;
    text-align: right;
}