.login-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.inputLeftMargin {
	margin-left: 20px;
	width: 225px;
	padding: 0 7px;
}

.labelInput {
	margin-bottom: 15px;
	width: auto;
}

.labelInput:last-child {
	margin-bottom: 20px;
}

.inputsPositioner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 320px;
}

.loginBtn {
	margin-right: 75px;
}
