.register-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.inputLeftMargin {
	margin-left: 20px;
}

.labelInput {
	margin-bottom: 5px;
}

.labelInput:last-child {
	margin-bottom: 20px;
}

.inputsPositioner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 320px;
}
