.home.slider {
    width: 1180px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
}

.home .slide {
    position: absolute;
    top: 0;
    left: 0;
}

.home .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.home .arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.home .arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.home .arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.home .arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.home .nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 48px;
}

.home .nonDraggableImage{
    -webkit-user-drag: none;
}

.home .nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.home .nav ul {
    margin: 0;
    width: 100%;
}

.home .nav .dot, .home .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.home .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 30px;
    height: 30px;
}

.home .dots .dot a {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #F0563D;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.home .dots .dot a.active {
    border-color: #F0563D;
    background-color: transparent;
}
