.theme-container li.theme-image{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.theme-container li.theme-image{
    width: 50px;
    height: 50px;
}

.theme-container .sandbox{
    width: 437px;
    height: 302px;
    border: 1px solid black;
    background-repeat: no-repeat;
    margin-right: 10px;
    position: relative;
}

.theme-container canvas{
    position: absolute;
    left: 0;
}

.theme-container img.thumb{
    min-height: 100%;
    min-width: 100%;
}

.theme-container .sandbox-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.theme-container .sandbox-container .buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme-container .sandbox-container .buttons-container>button{
    margin-bottom: 5px;
}

.template-dialog-body{
    padding: 10px;
}

.template-dialog-body .themes-list-wrapper{
    overflow: auto;
}

.template-dialog-body .themes-list{
    height: 337px;
}

.template-dialog-body .themes-list .theme{
    display: inline-block;
    width: 230px;
    margin-right: 10px;
}

.template-dialog-body .theme-designs{
    height: 57px;
}

.template-dialog-body .theme-checkbox{
    margin-right: 5px;
}