.thumbs-list-wrapper{
    display: flex;
    flex-direction: column;
}

.thumbs-list-wrapper .filter-wrapper{
    align-self: flex-start;
    margin-bottom: 10px;
}

.thumbs-list{
    overflow: auto;
    height: 315px;
    margin-bottom: 10px;
}

.desktop .thumbs-list{
    overflow: auto;
    height: 550px;
    margin-bottom: 10px;
}

#inviteLink {
    text-transform: none;
    color: red;
}

.thumbs-list .thumb-item{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 5px 5px 0;
    float: left;
    cursor: pointer;
    position: relative;
}

.thumbs-list .thumb-item.with-text{
    height: 128px;
}

.thumbs-list .thumb-item .thumb{
    width: 100%;
    height: 98px;
}

.thumbs-list .active{
    border: 1px solid blue;
}

.thumbs-list .edit-item{
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}

.thumbs-list .edit-item .dropdown-toggle .dropdown-menu{
    min-width: 100px;
}

.thumbs-list .edit-item .dropdown-toggle{
    padding: 0;
}

.thumbs-list .edit-item .entry{
    height: 15px;
    line-height: 15px;
    margin: 2px 0;
}
