<div class="album-view-container">
    <album-template themes="themes" replace-photo-dlg="replacePhotoDlg(index)" edit-photo-dlg="editPhotoDlg(index)" change-theme-callback="changeThemeCallback(theme)"></album-template>
    <div class="buttons-container">
        <button ng-click="saveAlbum()">Save album</button>
        <button ng-click="createPdf()">Create Pdf</button>
        <button ng-click="albumLink()">Album link</button>
        <!--<button ng-click="testCanvas()">testCanvas</button>-->
    </div>
</div>
