<div class="properties-container">
    <label-input labelinput="labelInput"></label-input>
    <div class="label-dropdown">
        <label>Select group: </label>
        <div class="btn-group" dropdown >
            <button type="button" title="{{selectedGallery.name}}" class="btn btn-default dropdown-toggle ellipsis" dropdown-toggle ng-disabled="disabled">
                {{selectedGallery.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="entry ellipsis" title="{{gallery.name}}" ng-repeat="gallery in galleries" ng-click="selectGallery(gallery)">{{gallery.name}}</li>
            </ul>
        </div>
    </div>
    <div class="label-dropdown">
        <label>Select child: </label>
        <div class=children-select ng-dropdown-multiselect="" options="children" selected-model="selectedChildren" extra-settings="childrenSettings" translation-texts="translationTexts"></div>
    </div>
    <div class="label-dropdown">
        <label>Select template: </label>
        <div class="btn-group" dropdown>
            <button type="button" title="{{selectedTemplate.name}}" class="btn btn-default dropdown-toggle ellipsis" dropdown-toggle ng-disabled="disabled">
                {{selectedTemplate.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="entry ellipsis" title="{{template.name}}" ng-repeat="template in templates" ng-click="selectTemplate(template)">{{template.name}}</li>
            </ul>
        </div>
    </div>
    <button ng-disabled="!labelInput.value || !selectedChildren.length || !selectedTemplate.name" class='center-next-button' ng-click="createAlbum()">Create album</button>
</div>
