<div class="child-photos">{{title}}
	<div class="child-themes">
		<div ng-repeat="theme in themes track by $index">
			<thumbs-list id=theme._id thumbs-title="theme.name" items="theme.thumbs" menu-items="menuItems"></thumbs-list>
		</div>
	</div>
	<div class="btn-group dropup upload-btn" dropdown>
		<button type="button" title="Upload Photos" class="btn btn-default dropdown-toggle ellipsis" dropdown-toggle ng-disabled="disabled">
			Upload Photos <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li class="entry ellipsis" title="{{theme.name}}" ng-repeat="theme in allThemes" ng-click="s3_upload(theme)">{{theme.name}}</li>
		</ul>
	</div>
</div>
