<div>
    <thumbs-list thumbs-title="title" items="gallery.children" on-click="openChild(item)" menu-items="menuItems" with-text=true></thumbs-list>
    <a ng-href="whatsapp://send?text={{domen}}/joinGroup/{{inviteHash}}" ng-show="showLinkToggle">WhatsApp Link</a>
    <p>
        {{newInviteLink}}
    </p>
    <button ng-click="addToGallery()">Update Group</button>
    <button ng-show="rights.admin" ng-hide="trueInvite" ng-click="trueInvite = true">Invite</button>
    <button type="button" name="button" ng-show="trueInvite" ng-click="showInvite('a0')">Invite as new Teacher</button>
    <button type="button" name="button" ng-show="trueInvite" ng-click="showInvite('p1')">Invite as new Designer</button>
    <button type="button" name="button" ng-show="trueInvite" ng-click="showInvite('m2')">Invite as new Parent</button>
    <button type="button" name="button" ng-hide="inviteEmailTrue" ng-click="inviteEmailTrue = true">Send an invite via Gmail</button>
    <button type="button" name="button" ng-click="goToTemplates()"> Group Templates </button>
    <div class="email-send" ng-show="inviteEmailTrue">
        <input type="text" name="name" ng-model="recipientEmail">
        <select class="" name="" ng-model="recipientType">
            <option  value="m2">Parent </option>
            <option  value="a0">Teacher </option>
            <option  value="p1">Designer </option>
        </select>
        <button name="button" ng-click="sendEmail(); inviteEmailTrue = false">Send to E-mail</button>
    </div>
</div>
