<div>
    <thumbs-list thumbs-title="title" items="galleries" on-click="openGallery(item)" menu-items="menuItems" with-text=true></thumbs-list>
    <button ng-click="createGallery()">Create Group</button>
    <button ng-click="s3_upload(false)">Create Children-Themes Group</button>
    <button ng-click="s3_upload(true)">Create Themes-Children Group</button>
</div>
