<div class="home container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation" ng-src="{{slide.image}}" ng-hide="!isCurrentSlideIndex($index)">
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
</div>