<div class="join-wrapper">
	<!-- <div class="selectChildren" > -->
	<div class="childrenList">
		<div class="">

			<div class="selectChild">
				<input type="input" name="name" value="" class="selectChildInput" maxlength="23" placeholder="Name" ng-model="newChildInput">
				<button type="button" class="specificChildSelect">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</button>
			</div>
			<div class="listOfChildren">
				<ul class="frameOfList">
					<li ng-repeat="child in children | filter: newChildInput track by $index" ng-click="checkedChildren.push(children[$index]); children.splice($index, 1)">
						{{child.name}}
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</li>
				</ul>
			</div>
		</div>

		<div>
			<ul class="checkedChildren" ng-mouseover="console.log(true)">
				<li ng-repeat="child in checkedChildren track by $index" class="checkedChild" ng-click="children.push(checkedChildren[$index]); checkedChildren.splice($index, 1)">{{child.name}}
					<i class="fa fa-trash" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
		<!-- form end -->
		<div class="invatedGroup">
			<p>
				Hi, you was invited in
				{{group.name}}
				Group.
			</p>
			<div ng-show="userType.member">
				<label for="genderFather">Father</label>
				<input type="radio" name="gender" id="genderFather" value="father" ng-model="parentGender">
				<label for="genderMother">Mother</label>
				<input type="radio" name="gender" id="genderMother" value="mother" ng-model="parentGender">
			</div>
			<button type="button" name="button" ng-click="joinNewParent(checkedChildren)" ng-show="userType.member">Join as Parent</button>
			<button type="button" name="button" ng-click="joinNewMember('professional')" ng-show="userType.professional">Join as Designer</button>
			<button type="button" name="button" ng-click="joinNewMember('admin')" ng-show="userType.admin">Join as Teacher</button>
		</div>

	</div>
