<div class="login-container">
	<div class="inputsPositioner">
		<div class="labelInput">
			<label for="email">Email:</label>
			<input type="email" id="email" ng-model="loginInfo.email" class="inputLeftMargin">
		</div>

		<div class="labelInput">
			<label for="pass">Password:</label>
			<input type="password" id="pass" ng-model="loginInfo.password" class="inputLeftMargin">
		</div>
	</div>
	<button ng-disabled="!loginInfo.email || !loginInfo.password" ng-click="login(user)" class="loginBtn">Login</button>
</div>
