<div class="register-container">
	<!-- <label-input-table></label-input-table> -->
	<div class="inputsPositioner">
		<div class="labelInput">
			<label for="firstName">First name: </label>
			<input type="text" id="firstName" ng-model="newUserInfo.firstName" class="inputLeftMargin">
		</div>
		<div class="labelInput">
			<label for="lastName">Last name: </label>
			<input type="text" id="lastName" ng-model="newUserInfo.lastName" class="inputLeftMargin">
		</div>
		<div class="labelInput">
			<label for="email">Email: </label>
			<input type="email" id="email" ng-model="newUserInfo.email" class="inputLeftMargin">
		</div>
		<div class="labelInput">
			<label for="password">Password: </label>
			<input type="password" id="password" ng-model="newUserInfo.password" class="inputLeftMargin">
		</div>
		<div class="labelInput">
			<label for="verifyPassword">Verify password: </label>
			<input type="password" id="verifyPassword" ng-model="newUserInfo.verifyPassword" class="inputLeftMargin">
		</div>
		<div class="labelInput">
			<p>
				Choose your system type :
			</p>
			<select class="" name="" ng-model="newUserInfo.sysType">
				<option value="simpleUser"> Simple User </option>
				<option value="professional"> Designer </option>
			</select>
		</div>
	</div>
	<Button type="submit" ng-click="register()">Register</Button>
	<div>*These fields are required</div>

</div>
