<div class="template album-view-container">
	{{template.name}}
	<div class="album-view theme-container">
		<canvas id="coords" width="435" height="300" draw-dots mode=view coords=currentTheme.design.coords on-select=onSelect reset=reset></canvas>
		<div ng-repeat="theme in template.themes track by $index" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" class='slide theme-album'>
			<img ng-src="{{theme.design.bg ? host + theme.design.bg : ''}}">
		</div>
		<a class="fa fa-arrow-left arrow prev" href="#" ng-click="showPrev()" ng-disabled="!_Index"></a>
		<a class="fa fa-arrow-right arrow next" href="#" ng-click="showNext()" ng-disabled="_Index == template.themes.length - 1"></a>
	</div>
	<!--extra navigation controls -->
	<ul class="nav">
		<li ng-repeat="theme in template.themes" ng-class="{'active':isActive($index)}">
			<img ng-src="{{theme.design.bg ? host + theme.design.bg : ''}}" title="{{theme.name}}" ng-click="jumpToTheme($index);"/>
		</li>
	</ul>
	<div class="buttons-container">
		<a ng-href="whatsapp://send?text={{groupTemplateLink}}"><button type="button" name="button">Send via WhatsApp</button></a>
		<button type="button" name="button" ng-click="emailForm = true" ng-hide="emailForm">Send via Gmail</button>
		<div class="" ng-show="emailForm">
			<input type="text" name="name" ng-model="sendInfo.recipient">
			<button type="button" name="button" ng-click="sendTemplateLink()">Send</button>
		</div>
		<button type="button" name="button" ng-show="showUploadBtn" ng-click="showChildBtns = true"> Upload</button>
		<!-- <button type="button" name="button" ng-click="s3_upload(theme)">UP</button> -->
		<div class="" ng-show="showChildBtns">
			<button type="button" name="button" ng-click="createChildForm = true">Create new Child</button>
			<select class="" name="" ng-model="childId" ng-click="viewThemes()">
				<option ng-repeat="child in children" value="{{child._id}}" >{{child.name}}</option>
			</select>
			<select class="" name="" ng-show="viewThemesSelect" ng-model="tplTheme">
				<option ng-repeat="theme in allThemes" value="{{theme}}">{{theme.name}} </option>
			</select>
			<button type="button" name="button" ng-click="s3_upload()">Up</button>
			<button type="button" name="button" ng-click="createAutoAlbum()">Create Auto Album</button>

			<div class="newChildForm" ng-show="createChildForm">
				<p>
					Child name
				</p><input type="text" name="name" value="" ng-model="newChildInfo.name">
				<p>
					Father name
				</p><input type="text" name="name" value="" ng-model="newChildInfo.father.name">
				<p>
					Father phone
				</p><input type="text" name="name" value="" ng-model="newChildInfo.father.phone">
				<p>
					Father email :
				</p><input type="text" name="name" value="" ng-model="newChildInfo.father.email">
				<p>
					Mother name :
				</p><input type="text" name="name" value="" ng-model="newChildInfo.mother.name">
				<p>
					Mother phone :
				</p><input type="text" name="name" value="" ng-model="newChildInfo.mother.phone">
				<p>
					Mother email :
				</p><input type="text" name="name" value="" ng-model="newChildInfo.mother.email">
				<button type="button" name="button" ng-click="createNewChild()">Create</button>
			</div>
		</div>

		<!-- <button type="button" name="button"  ng-click="existChild = true">Existing Child</button>
		<button type="button" name="button"  ng-click="newChild = true">Create new child</button>
		<div class="" ng-show="existChild">
			<select ng-model="childId">
				<option ng-repeat="child in children" value="{{child._id}}"> {{child.name}} </option>
			</select>
			<button type="button" name="button" ng-click="autoCreate()">Send</button>
		</div>

		<div class="newChildForm" ng-show="newChild">
			<p>
				Child name :
			</p><input type="text" name="name" value="" ng-model="childInfo.name">
			<p>
				Father name:
			</p><input type="text" name="name" value="" ng-model="childInfo.father.name">
			<p>
				Father Email:
			</p><input type="text" name="name" value="" ng-model="childInfo.father.email">
			<p>
				Father phone:
			</p><input type="text" name="name" value="" ng-model="childInfo.father.phone">
			<p>
				Mother name:
			</p><input type="text" name="name" value="" ng-model="childInfo.mother.name">
			<p>
				Mother email:
			</p><input type="text" name="name" value="" ng-model="childInfo.mother.email">
			<p>
				Mother phone:
			</p><input type="text" name="name" value="" ng-model="childInfo.mother.phone"


			>

			<button type="button" name="button" ng-click="createNewChild()">Send</button>
		</div>
	</div> -->
</div>
