<div class="template album-view-container">
    <div class="album-view theme-container">
        <canvas id="coords" width="435" height="300" draw-dots mode=view coords=currentTheme.design.coords on-select=onSelect reset=reset></canvas>
        <div ng-repeat="theme in template.themes track by $index" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" class='slide theme-album'>
            <img ng-src="{{theme.design.bg ? host + theme.design.bg : ''}}">
        </div>
        <a class="fa fa-arrow-left arrow prev" href="#" ng-click="showPrev()" ng-disabled="!_Index"></a>
        <a class="fa fa-arrow-right arrow next" href="#" ng-click="showNext()" ng-disabled="_Index == template.themes.length - 1"></a>
    </div>
    <!--extra navigation controls -->
    <ul class="nav">
        <li ng-repeat="theme in template.themes" ng-class="{'active':isActive($index)}">
            <img ng-src="{{theme.design.bg ? host + theme.design.bg : ''}}" title="{{theme.name}}" ng-click="jumpToTheme($index);"/>
        </li>
    </ul>
    <div class="buttons-container">
        <button ng-click="editTemplate()" ng-show="isItAuthor">Edit template</button>
        <a ng-href="whatsapp://send?text={{templateLink}}"><button type="button" name="button" ng-show="isItAuthor">Send via WhatsApp</button></a>
        <button type="button" name="button" ng-show="isItAuthor" ng-click="sendEmailForm = true">Send via Email</button>
        <input type="text" name="name" ng-model="sendEmailInfo.recipient" ng-show="sendEmailForm">
        <button type="button" name="button" ng-click="sendTemplateLink()" ng-show="sendEmailForm"> Send  </button>
        <select class="" name="" ng-hide="isItAuthor" ng-model="groupInfo.groupId">
            <option value="null">
                Please, select one fo the groups
            </option>
            <option ng-repeat="group in guestUser.groups" value="{{group.groupId}}">
                {{group.groupName}}
            </option>
        </select>
        <button type="button" name="button" ng-click="getTemplateForGroup()" ng-hide="isItAuthor">
            Get this template
        </button>
    </div>
</div>
