<div>
    <thumbs-list thumbs-title="title" items="templates" on-click="openTemplate(item)" menu-items="menuItems" with-text=true></thumbs-list>
    <!-- <button ng-click="createTemplate()">Create Template</button> -->
    <div class="">
      <p>Template id:</p>
      <input type="text" ng-model="newTemplate.id">
      <button type="button" name="button">Get</button>
    </div>
</div>
