<label-input labelinput="labelInput"></label-input>
<div class="themes-list-wrapper">
    <label>Select your templates</label>
    <ul class="themes-list">
        <li class="theme ellipsis" ng-repeat="theme in displayThemes" title="{{theme.name}}">
            <input type="checkbox" class=theme-checkbox ng-model='theme.checked' ng-click="onCheckBoxClick(theme)">{{theme.name}}
        </li>
    </ul>
</div>
<button ng-disabled = "!checkedThemes.length || !labelInput.value" ng-click="next()">Next</button>