<div class="theme-container">Design for {{theme.name}}
    <div class="sandbox-container">
        <div class="sandbox">
            <canvas id="coords" width="435" height="300" draw-dots mode=mode coords=coords on-select=onSelect reset=reset></canvas>
            <img ng-src="{{bg.image ? host + bg.image : ''}}">
        </div>
        <div class="buttons-container">
            <button ng-click="s3_upload()">Upload theme background</button>
            <button ng-click="save()">Save design</button>
            <button ng-click="reset()">Reset design</button>
        </div>
    </div>
    <ul class="theme-designs">
        <li class="theme-image" ng-repeat="thumb in thumbs" ng-click="selectThumb(thumb.src, $index)">
            <img class="thumb" ng-src="{{thumb.src ? host + thumb.src : ''}}">
        </li>
    </ul>
    <button ng-disabled="isLastTheme()" ng-click="next()">Next</button>
    <button ng-disabled="isFirstTheme()" ng-click="prev()">Prev</button>
</div>